.header {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eee;
  background: #fff;
}

/* NAVBAR */
.navbar {
  width: 100%;
  max-width: 1280px;
  height: 80px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #333;
  user-select: none;
  text-decoration: none;

}

/* MENU */
.navbar__menu {
  display: flex;
  align-items: center;
  gap: 45px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__item {
  position: relative;
}

.navbar__link {
  font-size: 15px;
  text-decoration: none;
  color: #444;
  transition: color 0.2s ease;
}

/* HOVER */
.navbar__item:hover .navbar__link {
  color: #111;
}

/* DROPDOWN ARROW */
.navbar__arrow {
  margin-left: 4px;
  font-size: 14px;
  color: #444;
}

/* ACTION BUTTONS */
.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.actions svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.actions svg:hover {
  opacity: 1;
}

/* ACTIVE LINK */
.navbar__link--active {
  position: relative;
  color: #111; /* istəyə görə */
}

.navbar__link--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #111;
  border-radius: 2px;
}
.logo__link {
  text-decoration: none;
  color: #333;
}

.logo__link:active,
.logo__link:visited {
  color: #333; 
}