* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





.shoppage {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.fashion {
    display: flex;
    font-size: 42px;
    justify-content: center;
}

.home {
    font-size: 16px;
}

.home1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 40px;
}

.fashion_left {
    max-width: 322px;
}

.left_word {
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Poppins';
}

.filters {
    font-size: 22px;
    padding-top: 16px;
}

.btn {
    width: 25px;
    color: #8A8A8A;
    border-radius: 5px;
    border-color: #8A8A8A;
    border: 1px solid;
    background-color: white;
    margin-right: 5px;
}

.btn_size {
    color: #8A8A8A;

}


.color_red {
    width: 15px;
    height: 15px;
    border-radius: 25px;
    border: solid 1px;
    border-color: red;
    background-color: red;

}

.color_orange {
    width: 15px;
    height: 15px;
    border-radius: 25px;
    border: solid 1px;
    border-color: orangered;
    background-color: orangered;
}

.color_yellow {
    width: 15px;
    height: 15px;
    border-radius: 25px;
    border: solid 1px;
    border-color: yellow;
    background-color: yellow;
}

.color_blue {
    width: 15px;
    height: 15px;
    border-radius: 25px;
    border: solid 1px;
    border-color: blue;
    background-color: blue;
}

.color_green {
    width: 15px;
    height: 15px;
    border-radius: 25px;
    border: solid 1px;
    border-color: green;
    background-color: green;

}

.color_purple {
    width: 15px;
    height: 15px;
    border-radius: 25px;
    border: solid 1px;
    border-color: purple;
    background-color: purple;
}

.color_aqua {
    width: 15px;
    height: 15px;
    border-radius: 25px;
    border: solid 1px;
    border-color: aqua;
    background-color: aqua;
}

.color_darkblue {
    width: 15px;
    height: 15px;
    border-radius: 25px;
    border: solid 1px;
    border-color: darkblue;
    background-color: darkblue;
}

.color_black {
    width: 15px;
    height: 15px;
    border-radius: 25px;
    border: solid 1px;
    border-color: black;
    background-color: black;
}

.color_pink {
    width: 15px;
    height: 15px;
    border-radius: 25px;
    border: solid 1px;
    border-color: pink;
    background-color: pink;
}

.colors {
    display: flex;
    gap: 5px;
}

.prices {
    font-size: 12px;
    color: #8A8A8A;
}

.left_words {
    font-size: 12px;
    color: #8A8A8A;
    font-family: 'Poppins';
}

.photo img {
    width: 200px;

    object-fit: cover;
}

.page {
    gap: 16px;
    display: flex;
    justify-content: center;
}

.photo {
    padding-top: 30px;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.title {
    color: #8A8A8A;
    font-size: 14px;
}

.black {
    color: black;
}

.title1 {
    display: flex;
    justify-content: space-between;
}

.title2 {
    color: #8A8A8A;
    font-size: 14px;
}

.iconn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.onecolor {
    display: flex;
    gap: 5px;
}

@media only screen and (max-width: 928px) {

}

.photo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 1024px) {
  .photo {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 768px) {
  .photo {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 768px) {
  .fashion_left {
    display: none;
  }
}

@media (max-width: 768px) {
  .photo img {
    width: 100%;      
    height: auto;      
    max-width: 350px;  
  }

  .photo > div {
    text-align: center; 
  }

  .photo p {
    font-size: 18px;   
  }
}

@media (max-width: 1024px) {
  .page {
    grid-template-columns: 1fr;
    gap: 20px;
  
}

}


