.footer {
  width: 100%;
  background: #fff;
}

/* HERO */
.footer__hero {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 120px 20px 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HERO IMAGES */
.footer__hero-img {
  position: absolute;
  bottom: 0;
  height: auto;
  z-index: 1;
}

.footer__hero-img--left {
  left: -200px;
  width: 500px;
}

.footer__hero-img--right {
  right: 90px;
  width: 500px;
}

/* HERO CONTENT */
.footer__hero-content {
  text-align: center;
  max-width: 550px;
  z-index: 10;
}

.footer__hero-content h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.footer__hero-content p {
  font-size: 15px;
  color: #666;
  line-height: 1.7;
  margin-bottom: 35px;
}

/* EMAIL BOX */
.footer__input-box {
  width: 100%;
  background: #fff;
  padding: 20px 24px;
  border-radius: 6px;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.09);
  margin-bottom: 30px;
}

.footer__input-box input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  color: #777;
}

/* BUTTON */
.footer__btn {
  border: none;
  padding: 14px 34px;
  background: #000;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.18);
  transition: 0.2s;
}

.footer__btn:hover {
  background: #222;
}

/* BOTTOM SECTION */
.footer__bottom {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  border-top: 1px solid #eee;
  padding: 100px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  font-size: 22px;
  font-weight: 700;
  color: #000;
}

.footer__links {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 14px;
  color: #555;
}

.footer__links li {
  cursor: pointer;
  transition: 0.2s;
}

.footer__links li:hover {
  color: #000;
}



/*--------------------------------------*/
/* RESPONSIVE                           */
/*--------------------------------------*/

/* 1100px */
@media (max-width: 1100px) {
  .footer__hero-img {
    display: none;
  }
}

/* Tablet */
@media (max-width: 900px) {
  .footer__hero {
    padding: 80px 20px 100px;
  }

  .footer__hero-content h2 {
    font-size: 30px;
  }
}

/* Tablet & Small screens */
@media (max-width: 768px) {
  .footer__hero {
    padding: 60px 20px 80px;
  }

  .footer__bottom {
    flex-direction: column;
    gap: 30px;
    padding: 70px 20px;
    text-align: center;
  }

  .footer__links {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .footer__hero-content h2 {
    font-size: 26px;
  }

  .footer__hero-content p {
    font-size: 14px;
  }

  .footer__btn {
    width: 100%;
    padding: 14px 0;
  }

  .footer__input-box {
    padding: 14px 18px;
  }

  .footer__bottom {
    padding: 50px 15px;
  }
}
