.footer {
  width: 100%;
  background: #fff;
}

.footer-hero {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 120px 20px 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img {
  position: absolute;
  bottom: 0;
  height: auto;
  z-index: 1;
}

.hero-img-left {
  left: -200px;              
  width: 500px;            
}


.hero-img-right {
  right: 90px;             
  width: 500px;            
}

.hero-content {
  text-align: center;
  max-width: 550px;
  z-index: 10;
}

.hero-content h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.hero-content p {
  font-size: 15px;
  color: #666;
  line-height: 1.7;
  margin-bottom: 35px;
}

/* EMAIL BOX */
.hero-input-box {
  width: 100%;
  background: #fff;
  padding: 20px 24px;
  border-radius: 6px;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.09);
  margin-bottom: 30px;
}

.hero-input-box input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  color: #777;
}

.hero-btn {
  border: none;
  padding: 14px 34px;
  background: #000;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0px 6px 20px rgba(0,0,0,0.18);
  transition: .2s;
}

.hero-btn:hover {
  background: #222;
}

.footer-bottom {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  border-top: 1px solid #eee;
  padding: 30px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  font-size: 22px;
  font-weight: 700;
  color: #000;
}

.footer-links {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 14px;
  color: #555;
}

.footer-links li {
  cursor: pointer;
  transition: .2s;
}

.footer-links li:hover {
  color: #000;
}

@media (max-width: 1100px) {
  .hero-img {
    display: none;
  }
}
