
 .stock__bar {
  width: 100%;
  height: 8px;
  background: #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 16px;
}

.color__bar {
  height: 100%;
  background-color: green; 
  border-radius: 10px;
  transition: width 0.3s ease;
}
